// Sass for videojs-bug
.video-js {

  .vjs-bug {
    display: inline-block;
    position: absolute;

    &.no-link {
      pointer-events: none;
    }

    &.vjs-bug-tl {
      top: 0;
      left: 0;
    }

    &.vjs-bug-tr {
      top: 0;
      right: 0;
    }

    &.vjs-bug-bl {
      bottom: 0;
      left: 0;
    }

    &.vjs-bug-br {
      bottom: 0;
      right: 0;
    }

  }

}
